body{
    background-color: rgb(11, 195, 51);
}


.apj{
   margin-left:  100px; 
   padding-left: 15px;
   padding-right: 15px;
   text-align: center
}

.ABOUT{
    margin: auto;
    border: 1px solid;
    padding-left: 40px;
    padding-right: 40px;
    background-color: rgb(27, 162, 90);
    width: 800px;
     line-height: 28px;
     font-size: medium;
}
h3{
    color: whitesmoke;
    font-weight: bold;
    font-style: italic;
    
}
h1{
    font-weight: bold;
    font-family:
}
span{
    font-weight: bold;
}
