.body{
    padding: 0px;
    margin: 0px;
}
.parent{
    padding: 100px 500px 0px;
    background-color: blueviolet;
    height: 100vh;
}
#display{
    width: 320px;
    height: 50px;
    border-radius: 10px;
}
.main{
    background-color: black;
    padding: 20px 60px 20px 90px;
    border-radius: 20px;
}
.main button{
    width: 40px;
    height:50px;
    margin: 10px 20px 10px 20px;
    border-radius: 70px;
    border: none;
    color: white;
}
.zero{
   padding-left: 60px;
   padding-right: 60px;
   background-color: rgb(84, 76, 76);
}
.one{
    background-color: rgb(96, 188, 158);
}
.two{
    background-color: orange;
}
.three{
    background-color: rgb(84, 76, 76);
}
